
/* RESET */
html, body{height: 100%;margin: 0; padding: 0;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}

/* STYLES */
.web{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab', monospace;
    font-size: 16px;
}

.web__logo{
    font-size: 3.5em;
    font-weight: bold;
    line-height: 99%;
    margin-top: 100px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.web__phrase{
    font-size: 0.9em;
    font-weight: lighter;
    margin-top: 5px;
}

.web__sociallist{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
}

.web__social{
    text-transform: uppercase;
    transition: all .1s ease-in;
    cursor: pointer;
    margin-bottom: 15px;
}

.web__social:hover{
    font-weight: bold;
}

.web__social--tw{
    color: #00ACEE;
}

.web__social--ws{
    color: #00BB2D;
}

.web__emailctn{
    margin-top: 80px;
    text-align: center;
}

.emailctn__label{
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
}
