html, body{
  margin: 0;
  padding: 0;
}
.home{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  font-family: 'Sansita', sans-serif;

}

.name h1{
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: #090909
}

.dot{
  color: #3498db;
}

@media all and (max-width: 340px){

  .name{
    width: 200px;
  }

  .name h1{
    text-align: center;
  }
}
